<div class="row">
		<div class="span12">
			<h3>Property - Incident# 20222610-0065</h3>
		<hr>
		</div>
</div>
<div class="sidebar">
		<div class="span3">
			<div class="padded section" id="document_sections">
				<h4>Sections</h4>
				<hr />
				<div class="section-buttons">
				<p><button class="btn finished admin" onclick="toggle('admin');">1 | Administrative</button></p>
				<p><button class="btn started involved" onclick="toggle('involved');">2 | Involved Parties</button></p>
				<p><button class="btn not-started offense" onclick="toggle('offense');">3 | Offense</button></p>
				<p>
				<button class="btn not-started active property" onclick="toggle('property');">4 | Property</button>
				</p>
				<p><button class="btn not-started arrest" onclick="toggle('arrest');">5 | Arrest</button></p>
				</div>
			</div>
				<hr />
				<p><button class="btn btn-primary">View Report</button></p>
		</div>
</div>