<div class="row">
		<div class="span12">
			<h3>Property - Incident# 20222610-0065</h3>
		<hr>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<div class="padded section">
				<h4>Sections</h4>
				<hr />
				<div class="section-buttons">
				<p><a class="btn finished" href="#">1 | Administrative</a></p>
				<p><a class="btn started" href="#">2 | Involved Parties</a></p>
				<p><a class="btn not-started" href="#">3 | Offense</a></p>
				<p>
				<a class="btn not-started active" href="#">4 | Property</a>
				</p>
				<p><a class="btn not-started" href="#">5 | Arrest</a></p>
			</div>
				<hr />
				<p><a class="btn btn-primary" href="#">View Report</a></p>
		</div>
	</div>