<h1>Editing document</h1>
<%= render :partial => 'documents/partials/section/sections' %>
<%= render 'documents/partials/form' %>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>
