	<footer>
		<div class="container">
			<div class="pull-right">
				<span class="subnote">Powered By </span>
				<a href="http://www.vaultrms.com" />
					<%= image_tag('VaultRmsLogo.png') %>
				&copy; 2013
			</div>
		</div>
	</footer>