<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Business website template using twitter Bootstrap">

<div id="wrap">
			<div class="row">
				<div class="span12">
					<h3>Property - Incident# 20222610-0065</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="padded section">
						<h4>Sections</h4>
						<hr />
						<div class="section-buttons">
							<p><a class="btn finished" href="#">1 | Administrative</a></p>
							<p><a class="btn started" href="#">2 | Involved Parties</a></p>
							<p><a class="btn not-started" href="#">3 | Offense</a></p>
							<p>
								<a class="btn not-started active" href="#">4 | Property</a>
							</p>
							<p><a class="btn not-started" href="#">5 | Arrest</a></p>
						</div>
						<hr />
						<p><a class="btn btn-primary" href="#">View Report</a></p>
					</div>
				</div>
				<div class="span6 dark-column">
					<div class="padded">
						<h3>Property</h3>
						<!--FORM-->
						<div class="container-fluid form">
							<div class="row-fluid">
								<div class="span6">
									Section Does Not Apply:
								</div>
								<div class="span6">
									<input type="checkbox" />
								</div>
							</div>
							<div class="row-fluid">
								<div class="span6">
									Property Type:
								</div>
								<div class="span6">
									<input type="radio" name="ptype" />Structure<br />
									<input type="radio" name="ptype" />Vehicle<br />
									<input type="radio" name="ptype" />Personal<br />
									<input type="radio" name="ptype" />Narcotic<br />
								</div>
							</div>
							<div class="row-fluid">
								<div class="span6">
									NIBRS Seg Level:
								</div>
								<div class="span6">
									<input type="text" />
								</div>
							</div>
							<div class="row-fluid">
								<div class="span6">
									Date:
								</div>
								<div class="span6">
									<input type="text" class="span2" data-date-format="mm/dd/yy">
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12">
									<p class="center">
										<a class="btn btn-primary" style="min-width: 150px;" href="#">Save</a>
									</p>
								</div>
							</div>
						</div>
						<!--FORM END-->
					</div>
				</div>
				<div class="span3">
					<div class="padded section">
						<h4>Current Properties</h4>
						<hr />
						<p>
							<select>
								<option>Property01</option>
								<option>Property02</option>
								<option>Property03WITHAREALLYLONGNAME</option>
							</select>
						</p>
						<p>
							<a class="btn" href="#">Delete Property</a><a class="btn"
								href="#">Add Property</a>
						</p>
					</div>
				</div>
			</div>
			<br />
		</div>
		<div id="push"></div>
