<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New help request received.</h1>
    <p>
      <h1>@subject</h1> 
      <br/>
      <hl/>
      <p>
        @text
      </p>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>